<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280844915508-5g2q0u6cpc83f36266hpjsvk1nc08i2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280844915508-5g2q0u6cpc83f36266hpjsvk1nc08i2n</string>
	<key>API_KEY</key>
	<string>AIzaSyAvkwCRa3CkUYWmIOW7MmVLF4DDUP3cU5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>280844915508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.liudmilapohribniak.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-f9f05</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-f9f05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280844915508:ios:24ceb044dcbd12ff</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-f9f05.firebaseio.com</string>
</dict>
</plist>